@import '../../styles/_theme'

// Mobile first
.container
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    background: $category_card_bg
    border-radius: 0.8rem
    padding-bottom: 2rem
        
    &_img
        height: 13rem
        margin-top: -4rem

    &_name
        text-transform: uppercase
        color: $dark_bg
        font-size: 1.8rem
        letter-spacing: 0.13rem

    &_link 
        margin-top: 2rem
        font-size: 1.3rem
        line-height: 1.8rem
        letter-spacing: 0.1rem
        opacity: 0.5
        color: $dark_bg
        text-transform: uppercase
        font-weight: bold
        transition: color 0.3s ease
        &:hover
            color: $orange

    &_arrow_right
        margin-left: 2rem
        display: inline-block
        height: 1.15rem
        width: 1rem
        background-image: url('/icons/arrow-right.svg')
        background-repeat: no-repeat

// Desktop
@media (min-width: 1190px)
    .container

        &_img
            height: 17rem
            margin-top: -6rem